<div class="page" id="page">
  <div class="container">
    <div class="title">
        <h1>how to find us</h1>
    </div>
    <div class="contact-info">
      <div class="contact-description">
        <h5>Phone:</h5>
        <p>(852)1245-5678</p>
        <h5>Address:</h5>
        <p>9 Wang On Rd, Fortress Hill, Hong Kong</p>
        <h5>Opening Hours:</h5>
        <p>Monday-Saturday - 8:30-7:00</p>
        <p>Closed on Sundays</p>
          <%= image_tag "coffee-cups-with-plants.jpg", alt: "smoko shop image", class: "smoko-shop" %>
      </div>


      <div class="map">
        <div class="gmap_canvas">
          <iframe width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=smoko%20wang%20on%20road&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
          </iframe>
        </div>
        <style>.map{position:relative;text-align:right;height:500px;width:600px;}.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:600px;}
        </style>
      </div>
    </div>
  </div>
</div>
