<div class="page">
  <div class="container">
    <h1>our menu</h1>
    <p>We have delicious and healthy offerings that are prepared with fresh ingredients and are fully customizable</p>

    <iframe class="menu" src="https://4355139c-fba8-4f43-a638-afa7bb56069b.filesusr.com/ugd/73604f_d1b2d6ff8b674713b8e8ac3972a5c207.pdf">
      <p>Your browser does not support iframes.</p>
    </iframe>
  </div>
</div>

<!-- <iframe class="menu" frameborder="0" allowfullscreen="1" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" title="YouTube video player" src="https://www.youtube.com/embed/0pgXqKTgUMg?showinfo=0&amp;mute=1&amp;modestbranding=1&amp;loop=1&amp;autoplay=1&amp;controls=0&amp;disablekb=1&amp;playlist=0pgXqKTgUMg&amp;enablejsapi=1&amp;origin=https%3A%2F%2Fwww.codechrysalis.io&amp;widgetid=1" id="widget2"></iframe> -->
