<div class="page">
  <div class="container">

    <div class="cards">
      <div class="card">
        <h2>our mission</h2>
        <p>Smoko is a catalyst for hardworking men and women to feel and embrace the taste and power of coffee.</p>
      </div>

      <div class="card">
        <h2>our essence</h2>
        <p>At our core, Smoko operates on imagination, individuality, inclusivity, and impact.</p>
      </div>

      <div class="card">
        <h2>our promise</h2>
        <p>We deliver optimistic and diverse coffee tasting experiences that are custom made to satisfy your every whim.</p>
      </div>

      <div class="card">
        <h2>our vibe</h2>
        <p>At Smoko, we innovate. We are always creating new coffees through experimentation, reinventing what's possible every day.</p>
      </div>
    </div>
  </div>
</div>


