<div class="page">

  <div class="container">

      <div class="story">
        <div id="carousel-story" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carousel-story" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-story" data-slide-to="1"></li>
            <li data-target="#carousel-story" data-slide-to="2"></li>
            <li data-target="#carousel-story" data-slide-to="3"></li>
          </ol>

          <div class="carousel-inner">
            <div class="carousel-item active">
              <%= image_tag 'coffee-cups.jpg', alt: "mission image" %>
              <div class="carousel-caption d-none d-md-block">
                <h1>our mission</h1>
                <p>Smoko is a catalyst for hardworking men and women to feel and embrace the taste and power of coffee.</p>
              </div>
            </div>
            <div class="carousel-item">
              <%= image_tag 'hot-coffee.jpg', alt: "essence image" %>
              <div class="carousel-caption d-none d-md-block">
                <h1>our essence</h1>
                <p>At our core, Smoko operates on imagination, individuality, inclusivity, and impact.</p>
              </div>
            </div>
            <div class="carousel-item">
              <%= image_tag 'cny-macarons.jpg', alt: "promise image" %>
              <div class="carousel-caption d-none d-md-block">
                <h1>our promise</h1>
                <p>We deliver optimistic and diverse coffee tasting experiences that are custom made to satisfy your every whim.</p>
              </div>
            </div>
            <div class="carousel-item">
              <%= image_tag 'coffee-and-cinnamon-sticks.jpg', alt: "vibe image" %>
              <div class="carousel-caption d-none d-md-block">
                <h1>our vibe</h1>
                <p>At Smoko, we innovate. We are always creating new coffees through experimentation, reinventing what's possible every day.</p>
              </div>
            </div>

          <a class="carousel-control-prev" href="#carousel-story" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carousel-story" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="page">
  <div class="container">

    <div class="cards">
      <div class="card">
        <h2>our mission</h2>
        <p>Smoko is a catalyst for hardworking men and women to feel and embrace the taste and power of coffee.</p>
      </div>

      <div class="card">
        <h2>our essence</h2>
        <p>At our core, Smoko operates on imagination, individuality, inclusivity, and impact.</p>
      </div>

      <div class="card">
        <h2>our promise</h2>
        <p>We deliver optimistic and diverse coffee tasting experiences that are custom made to satisfy your every whim.</p>
      </div>

      <div class="card">
        <h2>our vibe</h2>
        <p>At Smoko, we innovate. We are always creating new coffees through experimentation, reinventing what's possible every day.</p>
      </div>
    </div>
  </div>
</div>


 -->
