<div class="page">
  <div class="container">
    <div class="content">
      <div class="team">
        <div class="team-images fadeImage" id="abc">
          <%= image_tag "founder.jpg", class: 'person sticky' %>
        </div>
        <div class="team-description">
          <!-- <div class="title sticky">
            <h1>the team</h1>
          </div> -->
          <div class="team-member-one">
            <h1>
              Wing Yeung
            </h1>
            <p>
              Wing has been in the coffee industry for over a decade. Fueled with a passion for coffee and all the intricacies that make a great cup, she started her journey working for as a barista at Starbucks. Throughout the years, she honed her skills so that one day she would be able to fulfill her dream of owning her own coffee shop. This is how Smoko started.
            </p>
          </div>
          <div class="team-member-two">
            <h1>
              Veronica Wong
            </h1>
            <p>
              Veronica has been at Smoko for the past 3 years. She has been creating masterpieces of art to everything that Smoko has to offer. The well-known cheese macarons that Smoko offers come in the form of Winnie the Pooh, Mickey Mouse, cute animals and any other design that you can think of.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

