.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
  text-align: center;
  padding: 16px 0px;
}

.card {
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0px;
  border: 0px;
  align-items: center;
  justify-content: center;
  width: 480px;
  height: 360px;
  background-color: rgba(0, 0, 0, 0.5);
  a {
    text-decoration: none;
    color: white;
    font-family: 'Open Sans', sans-serif;
    p {
      font-size: 20px;
      text-align: justify;
      text-shadow: 2px 2px black;
    }
  }
}
