.nav-section {
  background-color: #0A0C0D;
  z-index: 100;
  position: fixed;
  top: 0;
  width: 100%;
  .nav-bar-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 2%;
    .logo {
      width: auto;
      height: 76px;
    }
    .title {
      text-align: center;
      color: white;
      font-family: 'lobster', cursive;
      font-size: 64px;
      a {
        color: white;
        text-decoration: none;
        &:hover {
          text-decoration: none;
        }
      }
    }
    .icons {
      a {
        color: white;
        font-size: 40px;
        &:hover {
          color: #167FFB;
          text-decoration: none;
        }
      }
    }
  }
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding-top: 0;
  a {
    color: white;
    font-size: 24px;
    &:hover {
      text-decoration: none;
    }
  }
}

.nav-item {
  padding: 8px;
  border-radius: 24px;
  &:hover {
    background-color: #167FFB;
  }
}
