// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body, html {
  margin: 0;
  padding: 0;
  color: white;
  height: auto;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)), url('brick-wall.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.page {
  height: auto;
  margin: 0;
  padding: 0;
  text-align: center;
}

.container {
  margin-top: 144px;
  padding-top: 16px;
}

// .story-image {
//   margin: 0;
//   justify-content: center;
// }

.menu {
  height: 70vh;
  width: 100%;
}

.team-member {
  display: flex;
  align-items: center;
  .team-image {
    width: 100%;
  }
  .team-description {
    width: 50%;
    // justify-content: center;
    // align-items: center;
  }
}
