// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// * {
//   margin: 0px;
// }

// ---ALL PAGES---

body, html {
  margin: 0;
  padding: 0;
  color: white;
  height: auto;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)), url('brick-wall.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.page {
  height: 60.4vh;
  margin: 348px 0 0 0;
  // padding: 0;
  // padding-top: 348px;
  text-align: center;
}

.container {
  // margin-top: 144px;
  // padding-top: 16px;
}

// ---MENU PAGE---

.menu {
  height: 70vh;
  width: 100%;
}

// ---TEAM PAGE---

.team-content {
  display: flex;
  // justify-content: space-between;
  // align-items: center;
  height: 126vh;
  justify-content: center;
  .team-images {
    // height: 100vh;
    // width: 100vw;
    // img {
    //   height: 100%;
    //   width: 100%;
    //   object-fit: cover;
    // }
    .person {
      height: 500px;
      object-fit: cover;
    }
  }
  .team-description {
    position: absolute;
    padding-top: 214px;
    width: 330px;
    vertical-align: middle;
    text-shadow: 2px 2px black;
    h1 {
      font-size: 30px;
    }
    p {
      font-size: 16px;
    }
  }
}

// .team-image {
//   height: 2000px;
// }

.team-member-one {
  padding-bottom: 300px;
}

// .team-member-two {
//   padding: 228px 0 100px 0;
// }

// ---REVIEW INDEX---

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 5%;
}

.average-stars {
  font-size: 32px;
}

// ---CONTACT PAGE---

.contact-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 3%;
  p {
    padding-left: 3%;
  }
}

.contact-description {
  text-align: left;
  padding-left: 5%;
}

// #fakeContent {
//   height: 706px;
//   width: 3837px;
//   position: absolute;
// }

// .hidden {
//   visibility: hidden;
// }

// .fade {
//    opacity: 1;
//    transition: opacity .25s ease-in-out;
//    -moz-transition: opacity .25s ease-in-out;
//    -webkit-transition: opacity .25s ease-in-out;
//    }

//    .fade:hover {
//       opacity: 0.5;
//       }
