<div class="page">
  <div class="container">
    <h1>what people say about us</h1>

    <%= link_to "Add a review", new_review_path %>

    <% @reviews.each do |review| %>
      <div class="review">
        <h5>Name: <%= "#{review.name}" %></h5>
        <p>Review: <%= "#{review.comment}" %></p>
        <p>Stars: <%= "#{review.stars}" %></p>
        <br>
      </div>
    <% end %>
  </div>
</div>
